.rounded-sm {
    border-radius: 0.5rem;
}

.rounded-md {
    border-radius: 1rem;
}

.rounded-lg {
    border-radius: 1.25rem;
}

.rounded-xl {
    border-radius: 2rem;
}

.rounded-xxl{
    border-radius: 2.5rem;
}

.border-t {
    border-top: 1px solid lightgrey;
}

.border-b {
    border-bottom: 1px solid lightgrey;
}

.border-l {
    border-left: 1px solid lightgrey;
}

.border-r {
    border-right: 1px solid lightgrey;
}

.border-x {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.border-y {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.border {
    border: 1px solid lightgrey
}

.border-none {
    border: none;
}

.bg-none {
    background-color: transparent;
}

.bg-blur {
    background-color: rgba(32, 32, 32, 0.3);
}