/* padding theo rem  */

.p_1 {
    padding: 0.75rem;
}

.p_2 {
    padding: 1rem;
}

.p_3 {
    padding: 1.5rem;
}

.p_4 {
    padding: 2rem;
}

.p_5 {
    padding: 2.5rem;
}

/* padding-top theo rem  */
.p_1-t {
    padding-top: 0.75rem;
}

.p_2-t {
    padding-top: 1rem;
}

.p_3-t {
    padding-top: 1.5rem;
}

.p_4-t {
    padding-top: 2rem;
}

.p_5-t {
    padding-top: 2.5rem;
}

/* padding-bottom theo rem  */
.p_1-b {
    padding-bottom: 0.75rem;
}

.p_2-b {
    padding-bottom: 1rem;
}

.p_3-b {
    padding-bottom: 1.5rem;
}

.p_4-b {
    padding-bottom: 2rem;
}

.p_5-b {
    padding-bottom: 2.5rem;
}

/* padding-left theo rem  */
.p_1-l {
    padding-left: 0.75rem;
}

.p_2-l {
    padding-left: 1rem;
}

.p_3-l {
    padding-left: 1.5rem;
}

.p_4-l {
    padding-left: 2rem;
}

.p_5-l {
    padding-left: 2.5rem;
}

/* padding-right theo rem  */
.p_1-r {
    padding-right: 0.75rem;
}

.p_2-r {
    padding-right: 1rem;
}

.p_3-r {
    padding-right: 1.5rem;
}

.p_4-r {
    padding-right: 2rem;
}

.p_5-r {
    padding-right: 2.5rem;
}

/* padding only y-axis */
.py_1 {
    padding: 0.5rem 0;
}

.py_2 {
    padding: 1rem 0;
}

.py_3 {
    padding: 1.5rem 0;
}

.py_4 {
    padding: 2rem 0;
}

.py_5 {
    padding: 2.5rem 0;
}

/* padding only x-axis */
.px_1 {
    padding: 0 0.5rem;
}

.px_2 {
    padding: 0 1rem;
}

.px_3 {
    padding: 0 1.5rem;
}

.px_4 {
    padding: 0 2rem;
}

.px_5 {
    padding: 0 2.5rem;
}