.color_black {
    color: black;
}

.color_white {
    color: white;
}

.color_orange {
    color: orange;
}

.color_grey{
    color: grey;
}

.color_gray {
    color: silver;
}

.color_red {
    color: red;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.font-lg {
    font-size: large;
}

.font-xl {
    font-size: x-large;
}

.font-xxl {
    font-size: xx-large;
}

.font-sm {
    font-size: small;
}

.font-weight-8 {
    font-weight: 800;
}

.font-weight-7 {
    font-weight: 700;
}

.font-weight-6 {
    font-weight: 600;
}

.font-weight-2 {
    font-weight: 200;
}