.MainFoot {
    width: 100%;
    bottom: 0;
    background-color: #333;
    box-sizing: content-box;

    ul {
        li:hover a {
            color: orangered;
        }
    }

}

.icon-24 {
    width: 24px;
    height: 24px;
}

.icon-20 {
    width: 20px;
    height: 20px;
}

.icon-32 {
    width: 32px;
    height: 32px;
}


.Footbox {
    width: 25%;

    h3 {
        border-left: 4px solid orange;
        padding: 0px 0px 0px 10px;
    }

    ul {
        li {
            list-style-type: none;
            margin-top: 10px;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }

    .Footbox_down {
        margin-bottom: 10px;

        ul {
            display: flex;

            li {
                margin-right: 15px;
            }
        }
    }
}

.AboveBox {
    flex-wrap: wrap;
}

@media only screen and (max-width: 750px) {
    .Footbox {
        margin-top: 20px;
        width: 50%;
    }
}
@media only screen and (max-width: 480px) {
    .Footbox {
        margin-top: 20px;
        width: 100%;
    }
}