.user {
    .user-detail {
        width: 75%;
        height: 600px;
        overflow: hidden;
        overflow-y: scroll;
        padding: 1rem;
    }

    .boxUser {
        padding: 10px;
    }

    .bought-ticket {

        &>div {
            .boughtImg {
                width: 25%;
                border-radius: 12px;
                padding: 12px;
                background: white;
                box-shadow: 1px 1px 2px 0px silver;
                border-right: 2px dashed silver;

                img {
                    width: 100%;
                    border-radius: 5px;
                }
            }

            .boughtText {
                width: 75%;
                border-radius: 12px;
                padding: 12px;
                background: white;
                box-shadow: 1px 1px 2px 0px silver;

                th {
                    text-align: left;
                }

                th,
                td {
                    padding: 0.5rem 0;
                }
            }
        }
    }

    .dashboard {
        width: 25%;
        border-right: 2px solid silver;
        background: white;
        padding: 0 0.8rem;

        ul {
            list-style: none;

            li {
                padding-bottom: 0.25rem;
                padding-top: 0.5rem;
                width: fit-content;
                cursor: pointer;
                border-bottom: 2px solid transparent;

                &:hover {
                    border-bottom: 2px solid orange;
                }

                &.active {
                    border-bottom: 2px solid orange;
                    color: orange;
                    font-weight: bold;
                }
            }
        }
    }

    form {
        &>div {
            display: grid;
            grid-template-columns: 30% 70%;
            margin-bottom: 1rem;

            input,
            select,
            label {
                width: 100%;
                padding: 0.5rem;
            }

            input[type='submit'] {
                background: orange;
                border: none;
                color: white;
                padding: 0.8rem 0;

                &:hover {
                    cursor: pointer;
                    background-color: darkorange;
                    transition: ease-in-out .3s;
                }
            }
        }

        div.border {
            overflow: hidden;

            input {
                border: none;
            }

            button.bg-none {
                padding: 4px;
            }
        }
    }

    p.pointer {
        color: cornflowerblue;
        font-size: small;
        text-decoration: underline;
    }
}