#cinema-system {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('https://t3.ftcdn.net/jpg/04/98/87/32/360_F_498873253_NU68N3IQT6UECD9XNTDLHXE2M8fOVNRm.jpg');
    // background-color: #181818;
    color: white;

    .cinema-img {
        object-fit: cover;
        object-position: center;
        height: 200px;
        width: 100%;
    }

    /*Zoom In*/
    .zoom-in img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .zoom-in:hover img {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        cursor: pointer;
    }
}

.backCiCont {
    background: url('https://media.istockphoto.com/id/1158074847/vector/vector-realistic-isolated-black-brick-wall-seamless-pattern-background-for-template-and.jpg?s=612x612&w=0&k=20&c=G7t9xF_BO4MtZAL4956zg5CHBeDBMWostmkdM9cAYGo=');
    color: white;
}

#cinema-detail {
    h3.title {
        width: fit-content;
        border-bottom: 3px solid orange;
    }

    input,
    select {
        padding: 0.5rem;
    }

    span.clock-left::before {
        content: '\f1da';
        font: var(--fa-font-solid);
    }

    .more_infor {
        .summary {
            max-height: 20rem;
            overflow-y: scroll;
        }

        span {
            font-size: 1rem !important;
            font-family: 'Roboto Condensed' !important;
            color: white !important;
        }

        iframe.address {
            width: 100%;
            min-height: 300px;
            border: none;
        }
    }   

    .inday-movie {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 100%;

        img {
            border-radius: 0.75rem;
        }

        &>div.border {
            border-radius: 0 0 0.75rem 0.75rem;
        }
    }

    .showtime {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 0.25rem;

        .showtime-detail {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(10, 1fr);
        }
    }
}

span.time {
    padding: 0.2rem 0.5rem;
    margin: 0.25rem;
    border: 1px solid #ced0da;
    height: 32px;
    width: 60px;

    &:hover {
        cursor: pointer;
        border: 1px solid orange;
        background-color: orange;
        transition: all .5s;
    }
}

.Cineload {
    width: 33%;
    height: 300px;
    margin: auto;
    border-radius: 10px;
}