.slick-next:before,
.slick-prev:before {
    font-family: FontAwesome;
    font-size: 2rem;
    display: inline-block;
    background-color: rgba(10, 10, 10, 0.25);
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 24px;
    padding: 0 4px;
}

.slick-next:before {
    content: "\f105";
}

.slick-prev:before {
    content: "\f104";
}
