header {
    background-color: #333;
    width: 100%;
    margin-bottom: 100px;
    position: fixed;
    box-shadow: 0px 0px 2px 0px black;
    z-index: 20;

    ul {
        list-style-type: none;
        text-transform: uppercase;

        li.user {
            position: relative;
            cursor: pointer;

            &:hover {
                ul.p_1 {
                    visibility: visible;
                    animation: modalAppear ease-in 300ms;
                }
            }

            ul.p_1 {
                visibility: hidden;
                position: absolute;
                z-index: 22;
                top: 100%;
                right: 0;
                color: white;
                background-color: orange;
                max-width: 240px;
                min-width: 200px;

                li {
                    padding: 0.25rem 0;
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration-line: underline;
            color: orangered;
        }
    }
}

.pointer {
    cursor: pointer;
}