.seatMainSize {
    h2 {
        margin-bottom: 1rem;
        color: white;
    }

    .lsSeat {
        padding: 1.25rem;
        background-color: white;

        h1 {
            color: white;
        }

        .LsSeat_chose {
            background-color: white;
            text-align: center;

            .seat-couple {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;
            }

            .seat-standard {
                .seat-row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 4px;

                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 24px;
                        height: 24px;
                        background-color: lightgray;
                        cursor: pointer;
                        margin: 0 2px;

                        &:hover {
                            background-color: skyblue;
                        }

                        &.picked {
                            background-color: aqua
                        }

                        &.sold {
                            background-color: red;
                            color: lightgray;
                        }
                    }

                    &>.seats {
                        width: 84%;
                        display: flex;
                        justify-content: space-evenly;
                    }
                }

                .seat-row.empty {
                    height: 20px;
                }
            }

            p.d_flex.align_center {
                border: 1px solid #333;
                justify-content: center;
                width: 24px;
                height: 24px;
            }
        }

        .aboutInfor {
            margin-top: 20px;
            background-color: white;

            h3 {
                text-align: center;
            }

            .screen {
                width: 50%;
                border-bottom: 3px solid black;
                margin: 16px auto;
            }

            .aboutInfor_content {
                display: flex;
                justify-content: space-around;

                div {
                    display: flex;
                    align-items: center;

                    &>div {
                        width: 16px;
                        height: 16px;
                        margin-right: 4px;
                    }
                }
            }
        }
    }

    .boxInforFilm {
        width: 20%;
    }
}

.couple-seats {
    display: flex;
    justify-content: space-between;

    &>div {
        width: 84%;
        padding: 0 4px;
    }
}

.seat-couple-0 {
    padding: 2px;
    background-color: lightgray;

    &:hover {
        background-color: skyblue;
        cursor: pointer;
    }

    &.picked {
        background-color: aqua
    }

    &.sold {
        background-color: red;
        color: lightgray;
    }
}

.payment {
    &>form {
        &>div:first-child {
            background-color: white;
            padding: 1.25rem;
        }

        .payment-input {
            margin-top: 0.75rem;
            display: grid;
            align-items: center;

            select,
            input,
            button {
                padding: 8px;
                font-size: 1rem;
                width: 100%;
            }

            select {
                padding: 2px 4px;
                background-color: transparent;
                border: 0.5px solid silver;

                p {
                    padding: 4px;
                    background-color: lightgreen;
                    line-height: 1.5;
                }

                
            }
        }

        button {
            border: none;
            cursor: pointer;
        }

        button.submit:hover {
            background-color: lightgoldenrodyellow;
            transition: ease-in .2s;
        }
    }
}

.bankcards {
    & h3 {
        cursor: pointer;
        padding-bottom: 0.25rem;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid cornflowerblue;
            color: navy;
            transition: ease-in-out .3s;
        }

        &.active {
            font-weight: bold;
            color: cornflowerblue;
            border-bottom: 2px solid cornflowerblue;
        }
    }
}

.bankcard {
    margin: 1.5rem auto;
    border-radius: 1rem;
    padding: 2rem 1rem 1rem 1rem;
    background: linear-gradient(45deg, #4f4f4f 50%, #4f4f4f 25%, #eee 75%, #eee 75%);
    color: white;
    max-width: 600px;
    box-shadow: 2px -2px 4px 0px gray;

    &.available input {
        background: transparent;
        border: none;
        color: white;
        font-family: monospace;
    }

    &.new input {
        color: white;
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        font-family: monospace;
    }

    div.bank-logo {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        border: 1px solid snow;
        margin: auto;
    }
}