.movie-schedule {
    color: white;

    &>h3.font-xl {
        width: fit-content;
        border-bottom: 3px solid orange;
    }

    h3.theater-name {
        width: fit-content;
        background-color: darkorange;
        border-left: 6px solid white;
    }
}

.loading-showtime {
    height: 168px;
    padding: 16px 0;

    &>div:first-child {
        height: 48px;
        width: 40%;
    }

    &>div:last-child {
        padding: 16px;
        display: grid;
        grid-template-columns: 25% 70%;
        gap: 1rem;

        &>div {
            height: 72px;
        }
    }
}

.title {
    width: fit-content;
    border-bottom: 3px solid orange;
}

.theater__img {
    width: 25%;
    background-color: rgba($color: #242424, $alpha: 0.3);
    padding: 0.15rem;

    img {
        object-fit: cover;
        min-height: 108px;
        height: 100%;
        max-height: 120px;
        border: 0.75rem;
        margin: auto 0;
    }
}

summary.select {
    position: relative;
    padding: 0.5rem;
    background-color: rgba($color: #333, $alpha: 0.8);
    cursor: pointer;

    ul {
        position: absolute;
        top: 100%;
        background-color: rgba($color: #333, $alpha: 0.8);
        list-style-type: none;
        left: 0;
        right: 0;
        max-height: 300px;
        overflow: hidden;
        overflow-y: scroll;
        z-index: 5;

        li {
            padding: 6px 12px;
            cursor: pointer;

            &:hover {
                background-color: orange;
                color: white;
                transition: ease-in-out .2s;
            }
        }
    }
}

ul.showdate {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    list-style-type: none;

    li {
        text-align: center;
        border: 0.5px solid silver;
        border-radius: 4px;

        p {
            padding: 0.25rem 0.75rem;
            min-width: 5rem;

            &:first-child {
                background-color: rgba(180, 180, 180, 0.15);
            }
        }

        &:hover {
            cursor: pointer;

            p:last-child {
                background-color: rgba($color: #fff, $alpha: 0.5);
            }
        }

        &.active {
            background-color: darkorange;
            color: white;
        }
    }
}