.custom-modal {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;

    &.active {
        visibility: visible;
        animation: modalTopDown ease-in-out .3s;
    }

    .modal-mask {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.3);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .modal-dialog {
        padding: 0 2rem;
        align-self: center;
        z-index: 10;
        border-radius: 1rem;
    }

    .modal-header .modal-header-default{
        padding: 1.5rem 0;
        border-bottom: 1px solid gray;
        display: flex;
        justify-content: space-between;
    }

    .modal-header button {
        padding: 4px 8px;
        color: white;
        background-color: tomato;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .modal-body {
        padding: 1rem 0;
    }

    .modal-footer {
        padding: 1.5rem 0;
        border-top: 1px solid gray;
        display: flex;
        justify-content: space-between;
    }

    .modal-footer-btns {
        display: flex;
        justify-content: space-between;
        width: 25%;
    }

    .modal-footer-btns button {
        padding: 2px 8px;
    }
}

.alert {
    padding: 1rem;
    text-align: center;
    border-radius: 0.25rem;
    margin: auto;
    width: 60%;
    animation: modalAppear .3s;

    &.error {
        color: firebrick;
        background-color: #fee2e2;
    }

    &.success {
        color: #047857;
        background-color: #dcfce7;
    }

    .close {
        background-color: transparent;
        border: none;

        svg:hover {
            cursor: pointer;
        }
    }
}

@keyframes modalTopDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes modalAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
