#coming-movies {
    background-color: #101010;
}

#body {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(https://github.githubassets.com/images/modules/site/home-campaign/bg-stars-1.webp);
    background-color: #181818;
}

.banner {

    .slick-prev,
    .slick-next {
        display: none;
    }

    .banner-img {
        background-position: center;
        background-size: contain;
        cursor: pointer;
        width: 100%;
        aspect-ratio: 913/391;
    }

    .slick-arrow {
        display: none !important;
    }
}