#detail {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(https://github.githubassets.com/images/modules/site/home-campaign/bg-stars-1.webp);
    background-color: #181818;
    color: white;

    &>div:first-child {
        display: grid;
        grid-template-columns: 75% 25%;

        .title {
            padding-bottom: 0.5rem;
            text-transform: uppercase;
        }

        .brief {
            display: grid;
            grid-template-columns: 33.33% auto;
            margin: 1rem 0;
            background-color: rgba(32, 32, 32, 0.3);

            ul li {
                display: block;
                padding: 0.2rem 0;
            }
        }

        .movie-name {
            text-transform: uppercase;

            h4 {
                font-weight: 200;
            }
        }

        button#more {
            padding: 0.5rem;
            background-color: transparent;
            border: 1px solid white;
            color: white;

            &:hover {
                background-color: orange;
                border: 1px solid orange;
                color: white;
                transition: ease-in .3s;
                cursor: pointer;
            }
        }
    }

    div.showing {
        h2 {
            border-bottom: 3px solid orange;
            padding-bottom: 0.5rem;
            width: fit-content;
        }
    }

    .illustraction {
        cursor: pointer;
        position: relative;
        height: fit-content;

        &:hover {
            img {
                cursor: pointer;
                filter: opacity(0.8);
            }

            &>div {
                visibility: visible;
            }
        }

        .proHover {
            position: absolute;
            top: 50%;
            width: 100%;
            visibility: hidden;
            display: flex;
            justify-content: center;

            .gopro {
                width: 60%;
                padding: 10px 0;
                border: 1px solid white;
                color: white;
                text-align: center;
                cursor: pointer;
                border-radius: 4px;

                &:hover {
                    background-color: orangered;
                }
            }
        }
    }

    span.star::before {
        content: '\f005';
        font: var(--fa-font-solid);
        color: gold;
    }

    span.clock-left::before {
        content: '\f1da';
        font: var(--fa-font-solid);
    }

    .summary {
        max-height: 400px;
        overflow-y: scroll;

        span {
            line-height: 1.7 !important;
            font-size: 1rem !important;
        }

        p {
            margin-top: 0.5rem;
        }

        a {
            text-decoration: none;
            color: cornflowerblue;
        }
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .summary::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .summary {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.age {
    padding: 2px 4px;
    color: white
}

.age-18 {
    background-color: tomato;
}

.age-16 {
    background-color: orange;
}

.age-13 {
    background-color: goldenrod;
}

.trailer {
    background: rgba(0, 0, 0, 0.4);
    padding: 6rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    &>div {
        width: 60%;
        margin: auto;
        background-color: white;
        animation: modalFadeIn ease .3s;
        background-color: rgba(255,255,255,0.8);
    }

    #youtube-trailer {
        width: 100%;
        min-height: 30rem;
        border: none;
        margin: auto;
        display: block;
    }

    .close-btn {
        border: none;
        cursor: pointer;
        background-color: transparent;
        padding: 1rem;

        &:hover {
            opacity: 0.8;
        }
    }
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    #detail > div:first-child {
        display: block;
    }

    #detail div.showing {
        & > div {
            display: flex;
            gap: 12px;
        }
    }

    #more {
        width: 25%;
    }
}