.aboutFilm {
    display: flex;
    justify-content: flex-end;
    padding-left: 12px;
    color: #333;

    & > div {
        height: fit-content;
        padding: 12px;
        background: white;
        border-radius: 4px;
        width: 100%;
        box-shadow: 0px 1px 1px 0px silver;

        .filmImg {

            img {
                border-radius: 0.5rem;
                width: 100%;
            }

            span.note {
                line-height: 1.6;
                margin-left: 0.5rem;
            }
        }

        .ticker {
            margin-top: 0.75rem;
            & > * {
                padding: 0.5rem 0;
            }
            p {
                border-bottom: 1px dotted grey;

                span {
                    color: black;
                    font-size: 1.1rem;
                }
            }

            h3 {
                color: orangered;
            }
        }

        .continue {
            width: 100%;
            padding: 12px;
            border-radius: 0.5rem;
            border: none;
            color: white;
            background-color: orange;

            &:hover {
                cursor: pointer;
                background-color: darkorange;
                transition: ease-in 200ms;
            }
        }
    }

}