.Loading {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .LoadingSize {
        height: 100%;
       background-color: #d9d9d9;
    }

    .LoadingSize {
        background: linear-gradient(120deg,
                #d9d9d9 0%,
                #888b94 20%,
                #d9d9d9 40%,
                #d9d9d9 100%);
        background-size: 300%;
        background-position: 100% 0;
        animation: anim 2.5s infinite;
    }

    @keyframes anim {
        to {
            background-position: -100% 0;
        }
    }

}


// .MainLoading .LoadingSize .LoadingSize::before {
//     content: "";
//     // position: absolute;
//     // width: 100%;
//     // height: 100%;
//     background-image: linear-gradient(to right,
//             #d9d9d9 0%,
//             #888b94 20%,
//             #d9d9d9 40%,
//             #d9d9d9 100%);
//     background-size: 450px 400px;
//     background-repeat: no-repeat;
//     animation: shimmer 1.4s linear infinite;

//     @keyframes shimmer {
//         0% {
//             background-position: -450px 0px;
//         }

//         100% {
//             background-position: 450px 0px;
//         }
//     }
// }