@import url('./Common/Common.scss');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;1,600&display=swap');

/* 
    * reset default css margin and padding 
    * setup border-box for every elements
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
    font-family: 'Roboto Condensed' ;
}

/* remove outline of input tag */
*:focus {
    outline: none;
}

*::before,
*::after {
    box-sizing: border-box;
}

.main_width {
    width: 80%;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.App > div:nth-of-type(1) {
    padding-top: 76px;
    flex-grow: 1;
}

@media only screen and (max-width: 992px) {
    .main_width{
        width: 92%;
    }
}
@media only screen and (max-width: 480px) {
    .main_width{
        width: 100%;
        padding: 0 3px;
    }
}